<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue todo</title>
		<style>
			.completed {
				text-decoration: line-through;
			}
			.selected {
				color: red;
			}
			.empty {
				border-color: red;
			}
		</style>
	</head>
	<body>
		<script src="js/vue.js"></script>
		<div id="todo-app">
			<div>
				<input type="text"  placeholder="添加 todo"  v-model="value" @keyup.enter="addTodo"/>
			</div>
			<!-- todo list -->
			<!-- 无序列表 -->
			<ul>  
				<li v-for="todo in todos" :key="todo.id">
					<span>{{ todo.title }}</span>
					<input v-else type="button" value="标为未完成"/>
					<input type="button" value="删除">
					<input type="text" value="编辑 todo..."/>
				</li>
			</ul>
			<div>
			    <span>剩余 3 项未完成 ---</span>
			    <span>筛选：
			      <input type="button" class="selected" value="全部">
			      <input type="button" value="进行中">
			      <input type="button" value="已完成">
			      <input type="button" value="清除已完成">
			      <input type="button" value="清除全部">
			    </span>
			  </div>
		</div>
		
		<script>
			let id=0;
			// let oldVal = '';
			var app = new Vue({
				el:"#todo-app",
				data: function(){
					return {
						todos:[],
						value:''
					}
				},
				methods:{
					addTodo:function() {
						if(this.value === '') return;
						this.todos.push({id:id++, title: this.value,completed:false});
						this.value = ''
					}
				},
			})	
		</script>
	</body>
</html>
