<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue todo</title>
		<style>
			.completed {
				text-decoration: line-through;
			}
			.selected {
				color: red;
			}
			.empty {
				border-color: red;
			}
		</style>
	</head>
	<body>
		<script src="js/vue.js"></script>
		<div id="todo-app">
			<div>
				<input type="text"  placeholder="添加 todo"  v-model="value" @keyup.enter="addTodo"/>
			</div>
			<div>
				<input v-if="removedTodo" type="button" value="撤销" @click="restoreTodo(todo)">
			</div>
			<!-- todo list -->
			<!-- 无序列表 -->
			<ul>  
				<li v-for="todo in todos" :key="todo.id">
					<span :class="{completed: todo.completed}"  @dblclick="editTodo(todo)">{{ todo.title }}</span>
					<input v-if="!todo.completed" type="button" value="标为完成" @click="markAsCompleted(todo)"/>
					<input v-if="todo.completed" type="button" value="标为未完成" @click="markAsUnCompleted(todo)" />
					<input type="button" value="删除" @click="deleteTodo(todo)">
					<input v-if="editedTodo !== null" type="text" value="编辑 todo..." v-model="todo.title" @keyup.enter="editDone(todo)"
					@keyup.esc="cancelEdit(todo)"/>
				</li>
			</ul>
			<div>
			    <span>剩余 3 项未完成 ---</span>
			    <span>筛选：
			      <input type="button" class="selected" value="全部">
			      <input type="button" value="进行中">
			      <input type="button" value="已完成">
			      <input type="button" value="清除已完成">
			      <input type="button" value="清除全部">
			    </span>
			  </div>
		</div>
		
		<script>
			let id=0;
			// let oldVal = '';
			var app = new Vue({
				el:"#todo-app",
				data: function(){
					return {
						todos:[],
						value:'',
						removedTodo:null,//删除前记录状态，用户撤销删除
						editedTodo:null //用于暂存编辑前的状态
					}
				},
				methods:{
					addTodo:function() {
						if(this.value === '') return;
						this.todos.push({id:id++, title: this.value,completed:false});
						this.value = ''
					},
					markAsCompleted:function(todo) {
						todo.completed = true
					},
					markAsUnCompleted:function(todo) {
						todo.completed = false
					},
					deleteTodo:function(todo) {
						// if(!confirm('确认删除？')) return; javascript 有一个comfirm方法，调用会弹出一个确认框
						let pos = this.todos.indexOf(todo);
						this.removedTodo = {
							pos: pos,
							todo: this.todos.splice(pos,1)[0]
						}
					},
					restoreTodo:function(todo) {
						let pos = this.removedTodo.pos;
						let restored = this.removedTodo.todo;
						this.todos.splice(pos,0,restored);
						this.removedTodo = null
					},
					editTodo:function(todo) {
						this.editedTodo = {id:todo.id, title:todo.title}
					},
					editDone:function(todo) {
						this.editedTodo = null
					},
					cancelEdit:function(todo) {
						todo.title = this.editedTodo.title;
						this.editedTodo = null
					}
				},
			})	
		</script>
	</body>
</html>